<div class="row">

	<div class="col-md-12">
		<form [formGroup]="form">
			<div class="form-row">
				<div class="form-group col-md-3">
					<label for="name">Name</label>
					<input type="text" class="form-control" formControlName="name" placeholder="Name">
				</div>
				<div class="form-group col-md-3">
					<label for="email">Email</label>
					<input type="email" class="form-control" formControlName="email" placeholder="Email">
				</div>
				<div class="form-group col-md-3">
					<label for="phone">Phone</label>
					<input type="text" class="form-control" formControlName="phone" placeholder="Phone">
				</div>
			</div>
		</form>
	</div>
	<div class="col-md-12">
		<button type="button" class="btn btn-outline-primary" (click)="addRow()">Add Product</button>
	</div>
	<div class="col-md-12 mt-4">

		<div class="table-responsive">

			<table class="table">
				<thead>
					<tr>
						<th scope="col">#</th>
						<th scope="col">Name</th>
						<th scope="col">Qty</th>
						<th scope="col">Rate</th>
						<th scope="col">Basic</th>
						<th scope="col">Tax</th>
						<th scope="col">Tax Amt</th>
						<th scope="col">Final</th>
						<th scope="col">Tool</th>
					</tr>
				</thead>
				<tbody>
					<tr *ngFor="let product of ProductArray; let i = index;">
						<th scope="row" [product.id]="i">{{ i + 1 }}</th>
						<td>
							<input [(ngModal)]="product.name" name="{{(i+1)+'name'}}" class="form-control" type="text"/>
						</td>
						<td>
							<input [(ngModal)]="product.qty" name="{{(i+1)+'qty'}}" class="form-control" type="number" (keyup)="setBasicAmount($event, i+1)" AllowNumeric>
						</td>
						<td>
							<input [(ngModal)]="product.rate" name="{{(i+1)+'rate'}}" class="form-control" type="number" (keyup)="setBasicAmount($event, i+1)" AllowNumeric>
						</td>
						<td>
							<input [(ngModal)]="product.basic" value="{{ product.basic }}" name="{{(i+1)+'basic'}}" class="form-control" type="number" [readonly]="readOnly">
						</td>
						<td>
                <ng-select name="{{(i+1)+'tax'}}" [items]="tax"
                    bindLabel="name"
                    bindValue="value"
                    appendTo="body"
                    [multiple]="true"
                    [searchable]="true"
                     [(ngModel)]="tax.name"
                    (change)="changeTax($event, i+1)"
                    >
                </ng-select>
						</td>
						<td>
							<input [(ngModal)]="product.taxAmount" value="{{ product.taxAmount }}" name="{{(i+1)+'taxAmount'}}" class="form-control" type="number" [readonly]="readOnly">
						</td>
						<td>
							<input [(ngModal)]="product.final" value="{{ product.final }}" name="{{(i+1)+'final'}}" class="form-control" type="number" [readonly]="readOnly">
						</td>
						<td (click)="deleteRow(i)">
            		<button type="button" class="btn btn-outline-danger">Delete</button>
						</td>
					</tr>
					<tr>
						<td colspan="7"></td>
						<td>Total</td>
						<td>
            	<input [(ngModel)]="totalAmount" value="{{ totalAmount }}" class="form-control" [readonly]="readOnly">
            </td>
					</tr>
				</tbody>


			</table>
		</div>

	</div>
</div>

